/*
 * File:	i4.css
 * What:	General styles for in4mant resurrection
 * Author:	Frode Klevstul
 * When:	2005 - 2006
 */


/* ******************************************
 * 10px -> 7pt -> xx-small
 *
 *
 * ******************************************
 */





/* ------------------------------------------------
 *
 *
 *  GENERAL SETTINGS
 *  Body, form, tables, input fields etc...
 *
 *
 * ------------------------------------------------
 */

BODY {
	padding: 15px;
	background-image: url(/img_prod/i4/bodyBg.gif);
	background-repeat: repeat;
}

BODY,P,TD{
	font-family: Arial, "Trebuchet MS", Verdana, Helvetica, Serif;
	font-size: 11px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

TD{
	text-align: left;
	vertical-align: middle;
}

FORM {
	margin-top: 0px;
	margin-bottom: 0px
}

IMG.border {
	border: 1px;
	border-style: solid;
}

TEXTAREA, INPUT {
	font-size: 12px;
}

H1 {
   font-size: 18px
}

H2 {
   font-size: 14px
}

H3 {
   font-size: 10px
}

A:link {
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

A:active {
	color: white;
	background-color: #000000;
}

A:visited {
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

A:hover {
	color: #ffffff;
	background-color: #660000;
}





/* ------------------------------------------------
 *
 *
 *  TABLE SPECIFIC
 *  Table, tr, td...
 *
 *
 * ------------------------------------------------
 */

/* ------------------------------------------------
 *  Tables that sets up ALL pages
 * ------------------------------------------------
 */

/* The table that creates the box that surround all content on all pages (called from htm.bPage) */
TABLE.createBoxTable {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-spacing: 0pt 0pt;
	border-collapse: collapse;
	background-image: url(/img_prod/i4/innerTableBg.gif);
	background-repeat: repeat;
}

/* The table on the bottom of the page */
TABLE.bottomTable {
	border-top: 1px solid #333333;
	border-spacing: 0pt 0pt;
	border-collapse: collapse;
}

/* Table surrounding the advanced search options */
TABLE.advancedSearch {
	border-style: solid;
	border-width: 5px;
	border-color: #ff6600;
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	height: 100%;
}

/* ------------------------------------------------
 *  Other tables
 * ------------------------------------------------
 */

/* normalTable - most commonly used, width and height 100%, no spacing nor padding */
TABLE.normalTable {
	width: 100%;
	padding: 0px;
	border-spacing: 0pt 0pt;
	border-style: none;
/*	border-style: dotted;
	border-width: thin; */
}

/* used misc places as normalTable with full height */
TABLE.fullHeightTable {
	width: 100%;
	height: 100%;
	padding: 0px;
	border-spacing: 0pt 0pt;
	border-style: none;
/*	border-style: dotted;
	border-width: thin; */
}

/* used on pages containing boxes - this table has some space in between the cells */
TABLE.surroundElements {
	width: 100%;
	height: 100%;
	padding: 5pt;
	border-spacing: 5pt 5pt;
	border-style: none;
	vertical-align: top;
}
TD.surroundElements {
	vertical-align: top;
}

/* Used inside boxes (around the content) */
TABLE.boxTable {
	width: 100%;
	height: 100%;
	padding: 0px;
	border-spacing: 0pt 0pt;
	border-style: none;
	color: black;
	background-color: white;
}
TD.boxTable {
	vertical-align: top;
}

/* Sets up the layout for all boxes */
TABLE.box {
	width: 100%;
	height: 100%;

	border-left-style: solid;
	border-left-color: #660000;
	border-left-width: thin;

	border-right-style: solid;
	border-right-color: #660000;
	border-right-width: thin;

	border-bottom-style: solid;
	border-bottom-color: #660000;
	border-bottom-width: thin;

	border-top-style: none;

	padding: 0px;
	border-spacing: 0pt 0pt;
}

/* The login form (bar) on top of the page */
TABLE.loginForm {
	color: white;
	border-style: none;
	background-image: url(/img_prod/i4/gradientLoginForm.jpg);
	background-color: #000000;
	background-repeat: repeat;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}

/* The table where admin mode is printed out on org admin page */
TABLE.adminModeTable {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #990000;
	text-align: center;
}

/* The search form or the search bar's layout */
TABLE.searchForm {
	color: white;
	background-color: #ff6600;
	border-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;
	height: 100%;
}

/* The path field or path bar with links and clock */
TABLE.pathField {
	background-color: #dddddd;
	color: #333333;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px dotted #000000;
	border-spacing: 0pt 0pt;
	border-collapse: collapse;
}

/* Tables surrounding admin boxes */
TABLE.surroundAdminBox {
	width: 70%;
	height: 100%;
}

/* table around previous / next link in org list */
TABLE.preNextLink {
	width: 40%;
	height: 100%;
	border-style: none;
}
TD.preNextLink {
	border-style: none;
	text-align: center;
	vertical-align: bottom;
}

TABLE.surroundOrgSearchResult {
	width: 100%;
	padding: 5pt;
	border-spacing: 5pt 5pt;
	vertical-align: top;
	text-align: center;
}

TD.orgStatusOpen {
	vertical-align: middle;
	text-align: center;
	background-color: #cccccc;
	color: black;
}

TD.orgStatusClosed {
	vertical-align: middle;
	text-align: center;
	background-color: black;
	color: white;
}

/* Tables surrounding small boxes */
TABLE.miniBox {
	width: 40%;
	height: 100%;
}

/* Different colour when listing out  */
TR.alternativeLine {
	background-color: #cccccc;
	color: black;
}





/* ------------------------------------------------
 *
 *
 *  LINKS AND BUTTONS
 *  href, submit buttons etc...
 *
 *
 * ------------------------------------------------
 */

/* Used for making links and submit buttons looking like same type buttons */
.theButtonStyle{
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-color: black;
	border-width: 1px;
}

/* Used for making links and submit buttons looking like same type buttons */
.adminContentButton{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;

	border-top-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-color: black;
	border-width: 1px;
}

/* More discrete buttons */
A.buttonStyleDiscreet{
	font-size: 9px;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-style: dotted;
	border-color: gray;
	border-width: thin;
}

/* A normal link */
.normalLink {
	text-decoration: none;
	color: #000000;
	background-color: #ffffff;
}

/* Defines surrounding space for a button in a box */
.buttonInBox {
	padding-right: 20px;
	padding-bottom: 5px;
	text-align: right;
}

/* ---------------
 * thumbs links 
 * ---------------
 */
a.thumbs:link img{
	border-color: #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

a.thumbs:active img{
	border-color: #000000;
	border-style: dashed;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

a.thumbs:visited img {
	border-color: #cccccc;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

a.thumbs:hover img{
	border-color: #ffcc00;
	border-style: dashed;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}

a.thumbs:hover{
	color: gray;
	background-color: white;
}

/* selected thumb */
a.selectedThumb:link img{
	border-color: #ff0000;
	border-style: dashed;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

a.selectedThumb:active img{
	border-color: #ff0000;
	border-style: dashed;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

a.selectedThumb:visited img {
	border-color: #ff0000;
	border-style: dashed;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

a.selectedThumb:hover img{
	border-color: #ff0000;
	border-style: dashed;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
}

a.selectedThumb:hover{
	color: gray;
	background-color: white;
}





/* ------------------------------------------------
 *
 *
 *  HEADINGS
 *  Different headings
 *
 *
 * ------------------------------------------------
 */

/* Defines the heading of all boxes */
.boxHeading {
	font-size: 12px;
	font-weight: bold;
	color: white;
	background-color: #660000;
	height: 22px;
	text-transform: uppercase;
	padding-left: 5px;
}

/* used in login bar on top of page */
.loginBarHeading {
	font-size: 13px;
}

/* used in search bar */
.searchBarHeading {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

/* Used for organisation names on viewOrg page */
.orgNameHeading {
	font-size: 14px;
	font-weight: bold;
}

/* Used for content under picture */
.conSubHeading {
	font-size: 20px;
}

/* Used for content (news/events) titles */
.conTitleHeading {
	font-size: 35px;
	font-weight: bold;
}

/* Used for content (news/events) ingress */
.conIngressHeading {
	font-size: 15px;
	font-weight: bold;
}

/* Used for content footer */
.conFooterHeading {
	font-size: 14px;
	font-style: italic;
}

/* Used for related content titles */
.conRelatedConHeading {
	font-size: 13px;
}

/* Used for links titles */
.conLinksHeading {
	font-size: 13px;
}

/* Used for displaying non-profiled and closed organisations */
.orgStatusHeading {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

/* Used for album title (PIC module) */
.picTitleHeading {
	font-size: 35px;
	font-weight: bold;
}

/* Used for album subtitle */
.picSubtitleHeading {
	font-size: 15px;
	font-weight: bold;
}

/* Text under pictures (captions) */
.picCaption {
	font-size: 15px;
	color: white;
}

/* picture navigation link */
.picNavigationLink {
	font-size: 13px;
}

/* con_xca - passed days in calendar */
.conXcaPassedDays A:link { color: #ff6600; font-style: italic; }
.conXcaPassedDays A:visited { color: #ff6600; font-style: italic; }
.conXcaPassedDays A:active { color: #ff6600; font-style: italic; }
.conXcaPassedDays A:hover { color: #ff6600; font-style: italic; }



/* ------------------------------------------------
 *
 *
 *  BACKGROUNDS
 *  Different backgrounds
 *
 *
 * ------------------------------------------------
 */
.greyBackground {
	color: #000000;
	background-color: #dddddd;
}





/* ------------------------------------------------
 *
 *
 *  MISC
 *  Miscellaneous stuff
 *
 *
 * ------------------------------------------------
 */
/* The scroll window with all attractions in advaced search */
.attractionsScroll {
	border : solid 1px #000000;
	padding : 4px;
	width : 200px;
	height : 80px;
	overflow : auto;
}

/* The scroll window with all type of organisations in advaced search */
.typeOfOrgScroll {
	border : solid 1px #000000;
	padding : 4px;
	/*border-collapse: separate;*/
	/*border-spacing: 50pt 50pt;*/
	width : 185px;
	height : 80px;
	overflow : auto;
}

/* used for region dropdown */
.tinyRegions {
	font-size: 9px;
}

/* highlight in admin mode */
DIV.highlight {
	cursor: pointer;
	height: 100%;
}

/* Will place elements in the center and in the middle of a table*/
.centerMiddle {
	text-align: center;
	vertical-align: middle;
}
